@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

*{
    font-family: "Montserrat"
}
*{
    margin-bottom: 0;
    background-color: rgb(226, 226, 226);
}

/*-----------------------------------------------------------------------------------*/

header{
    margin-top: 4%;
}

nav{
    display: flex;
    justify-content: center;
    gap: 10%; 
}

#home{
    position: relative;
    text-decoration: none; 
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 1.5em;
    transition: all 1s;
}

#home:hover{ 
    color: #8FA6EC;
    font-size: 2em;
}

#home::before{ 
    position: absolute;
    width: 0%;
    height: 1vh;
    bottom: -1.5vh;
    left: 0;
    content: "";
    background-color: #8FA6EC;
    border-radius: 10px;
    transition : all 1s;
}

#home:hover::before{
    width: 100%;
}

#characters{
    position: relative;
    text-decoration: none; 
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 1.5em;
    transition: all 1s; 
}

#characters:hover{ 
    color: #556074;
    font-size: 2em;
}

#characters::before{ 
    position: absolute;
    width: 0%;
    height: 1vh;
    bottom: -1.5vh;
    left: 0;
    content: "";
    background-color: #556074;
    border-radius: 10px;
    transition : all 1s;
}

#characters:hover::before{
    width: 100%;
}

#gallery{
    position: relative;
    text-decoration: none; 
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 1.5em;
    transition: all 1s; 
}

#gallery:hover{ 
    color: #F571AD;
    font-size: 2em;
}

#gallery::before{ 
    position: absolute;
    width: 0%;
    height: 1vh;
    bottom: -1.5vh;
    left: 0;
    content: "";
    background-color: #F571AD;
    border-radius: 10px;
    transition : all 1s;
}

#gallery:hover::before{
    width: 100%;
}

/*-----------------------------------------------------------------------------------*/

main{
    display: flex;
    justify-content: space-around;
    margin-top: 7%;
}

.images{
    width: 20vw;
}

h2{
    display: flex;
    justify-content: center;
}

.luguang>h2{
    background-color: #8FA6EC;
    color: white;
    padding: 5%;
    border-radius: 50px;
    transition: all 1s;
}

.luguang>h2:hover{
    transform: scale(1.08);
}

.chengxiaoshi>h2{
    background-color: #556074;
    color: white;
    padding: 5%;
    border-radius: 50px;
    transition: all 1s;
}

.chengxiaoshi>h2:hover{
    transform: scale(1.08);
}

.qiaoling>h2{
    background-color: #F571AD;
    color: white;
    padding: 5%;
    border-radius: 50px;
    transition: all 1s;
}

.qiaoling>h2:hover{
    transform: scale(1.08);
}

.luguang>img{
    border: #8FA6EC .5cap solid;
    border-radius: 20px;
    width: 20vw;
}

.chengxiaoshi>img{
    border: #556074 .5cap solid;
    border-radius: 20px;
    width: 20vw;
}

.qiaoling>img{
    border: #F571AD .5cap solid;
    border-radius: 20px;
    width: 20vw;
}

/*-----------------------------------------------------------------------------------*/


@media screen and (max-width: 1160px) {
    nav{
        flex-direction: column;
        align-items: center;
    }
    main{
        flex-direction: column;
        margin-bottom: 7%;
        height: 165vh;
    }
    .luguang{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .luguang>img{
        width: 80vw;
    }
    .chengxiaoshi{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .chengxiaoshi>img{
        width: 80vw;
    }
    .qiaoling{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .qiaoling>img{
        width: 80vw;
    }
}
